body{
    background-color: antiquewhite;
    
}
.container_reserve{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    flex-direction: column;
}
.container_reserve_in{

}
#buttom_home{
    padding: 20px;
    margin-bottom: 10px;
}

.fa-regular{
    color: green;
    font-size: 120px
}
.reserve_text{
   text-align: center;
   font-size: 30px;
}
.reserve_correct{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 25%;
}

.fa-circle-xmark{
    color: red;
    font-size: 120px
}
