

.navmenu ul li button {
  border: none;
  outline-style: none;
}

#profile {
  border: 3px solid color-mix(in srgb, var(--contrast-color), transparent 60%);
  border-radius: 5px; 
  margin: 0;
  padding: 5px 10px 5px 10px;
}

#profile:focus {
  background-color: color-mix(in srgb, var(--nav-dropdown-color), transparent 60%);
  transition: 0.3s;
}

/* carousel */
.carousel {
  padding: 0;
  margin: 0;
  justify-self: center;
  width: 70%;
  border-radius: 15px;
}

.carousel-inner {
  border-radius: 15px;
}

.carousel-item{
  height: 400px;
}

.carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* carousel */

/* event lists */
.event-lists {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.event-lists > .event-items {
  width: 230px;
  margin: 0 10px 80px 10px;
  padding: 10px;
}

.event-lists > .event-items > div {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: color 0.5s ease;
  padding: 0 0 30px 0;
  transition: 0.3s;
  background-color: white;
}

.event-items > div:hover {
  transform:scale(1.01);
}

.event-lists > .event-items img {
  width: 100%;
  height: 325px;
  padding: 0;
  margin: 0;
  border-radius: 10px 10px 0 0;
  align-items: center;
  object-fit: cover;
}

.event-lists > .event-items span {
  padding: 10px 0 0 10px;
  color: var(--default-color);
  height: 29px;
  display: block;
  word-wrap: break-word;
  overflow: hidden;
}

.event-lists > .event-items span:first-of-type {
  font-weight: 600;
}

.event-lists > .event-items span:nth-child(3) {
  color: var(--accent-color);
}

.event-lists > .event-items span:nth-child(4) {
  color: rgb(101, 101, 101);
  height: 50px;
}
/* event lists */



/* register/login box register.html*/
.box {
  display: flex;
  width: 500px;
  height: 600px;
  margin: 110px 0 0 0;
  justify-content: center;
  justify-self: center;
  align-items: center;
  padding: 20px 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 3px solid var(--accent-color);
}

.box h2 {
  text-align: center;
  margin: 0 0 40px 0;
}

.box label {
  display: block;
  margin: 2px 0 10px 0;
}

.box div input {
  background-color: #e5fff4;
  width: 100%;
}

.box button {
  width: 100%;
  font-size: 20px;
  margin: 20px 0px;
  padding: 10px;
  border: 2px solid color-mix(in srgb, var(--default-color), transparent 70%);
  border-radius: 0 0 10px 10px;
}

.box button:hover {
  background-color: rgba(12, 59, 47, 0.3);
}

.toggle-form {
  width: 100%;
  margin: 20px;
}

#registration-page {
  display: none;
}

#reset-page {
  display: none;
}
/* register/login/reset box register.html*/

/* Profile Overlay when clicked #profile */
.overlay-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.overlay-toggle {
  display: none;
}

.overlay {
  position: fixed;
  right: 0;
  top: 128px;
  width: 250px;
  height: auto;
  margin: 0;
  padding: 10px;
  background-color: #d4d4d4;
  border-radius: 0 0 0 8px ;
}

.overlay > span, #editProfileBtn {
  display: block;
  margin-top: 5px;
  text-decoration: none;
  transition: 0.3s;

}

.overlay #editProfileBtn {
  display: inline-block;
  color: var(--default-color);
  background-color: rgb(255, 255, 255, 0.7);
  border: 2px solid var(--accent-color);
  margin-top: 8px;
  padding: 2px 6px 2px 6px;
}

#editProfileBtn:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  background-color: #d4d4d4;
}
/* Profile Overlay main.ejs, purchase_history.ejs */

/* transaction lists purchase_history.ejs */
.history-title {
  margin-top: 120px;
}

.history-container , .profile-container{
  width: 1000px;
  margin: 0 0 80px 0;
  padding: 0;
  justify-self: center;
  align-items: center;
  padding: 20px 60px 60px 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
}

.history-container .history-item {
  width: 100%;
  margin: 40px 0;
}

.history-container .history-item  div{
  padding: 0 40px;
}

.history-container .history-item span {
  display: block;
  padding: 10px 0;
}

.delete-button {
  background-color: #E6493C;
  color: var(--contrast-color);
  font-size: 20px;
  float: right;
  position: relative;
  padding: 13px 30px;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.delete-button:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  background-color: color-mix(in srgb, #E6493C, transparent 10%);
}
/* transaction lists purchase_history.ejs */

/* User progfile in edit_profile.ejs */
.profile-container {
  width: 50%;
  padding-left: 80px;
  padding-right: 80px;
}

.profile-container > * {
  display: block;
  margin: 0 20px;
}

.profile-container h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.profile-container .profile-info {
  margin: 10px 100px;
}

.profile-container a, .profile-container label {
  display: inline-block;
}

.profile-container input{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-container a {
  font-size: 15px;
  color: #9f9f9f;
  text-decoration: dashed;
}

input.disable {
  pointer-events: none;
  color: #9f9f9f;
}

input.clear-password.disable {
  display: none;
}

a.disable {
  display: none;
}

label.disable {
  display: none;
}

.editnamebtn .disable {
  display: none;
}

.profile-container .editbtn {
  color: var(--default-color);
}

.profile-container .button {
  display: flex;
  justify-content: center;
}

.profile-container .button button {
  text-decoration: none;
  background-color: var(--accent-color);
  color: var(--contrast-color);
  padding: 10px 200px;
  margin-top: 20px;
}
/* User progfile in edit_profile.ejs */

.textpass{
    display: block;
    text-align: center;
}

/* user scrollable div in user_list.ejs */
.user-item-list-container {
  width: 600px;
  height: 300px;         /* It MUST have a fixed height */
  overflow-y: auto;      /* Adds a vertical scrollbar only when needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--accent-color);
  margin: 0 auto;       /* auto margin to make container stay on center */
}

.user-list-item {
  display: flex;
  justify-content: space-between; /* Puts username left, button right */
  align-items: center;
  padding: 12px;
  border: 1px solid #eee;
  background-color: #fff;
  margin-bottom: 8px; /* Space between items */
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

.user-list-item > p:nth-child(2) {
  background-color: #ffdd78d7;
  padding: 0 10px;
}
/* user scrollable div in user_list.ejs */