

/* autocomplete search box on navbar*/
* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  left: 14px;
  display: inline-block;
  margin: 0 10px 0 0;
  width: 300px;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #9f9f9f;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
/*THE END OF autocomplete search box on navbar*/

/* carousel */
.carousel {
  padding: 0;
  margin: 0;
  justify-self: center;
  width: 70%;
  border-radius: 15px;
}

.carousel-inner {
  border-radius: 15px;
}

.carousel-item{
  height: 400px;
}

.carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-lists {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.event-lists > .event-items {
  width: 230px;
  margin: 0 10px 80px 10px;
  padding: 0;
}

.event-lists > .event-items > div {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: color 0.5s ease;
  padding: 0 0 30px 0;
}

.event-items > div:hover {
  transform:scale(1.01);
}

.event-lists > .event-items img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 10px 10px 0 0;
  align-items: center;
}

.event-lists > .event-items span {
  padding: 10px 0 0 10px;
  color: var(--default-color);
  height: 30px;
  display: block;
  word-wrap: break-word;
  overflow: hidden;
}

.event-lists > .event-items span:first-of-type {
  font-weight: 600;
}

.event-lists > .event-items span:nth-child(3) {
  color: var(--accent-color);
}

.event-lists > .event-items span:nth-child(4) {
  color: rgb(101, 101, 101);
  height: 50px;
}

/* register/login box register.html*/
.box {
  width: 400px;
  margin: 110px 0 0 0;
  justify-self: center;
  align-items: center;
  padding: 20px 60px 60px 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 3px solid var(--accent-color);
}

.box .login-page h2 {
  text-align: center;
  margin: 40px 0 20px 0;
}

.box .login-page label {
  display: block;
  margin: 2px 0 10px 0;
}

.box .login-page div input {
  background-color: #e5fff4;
  width: 100%;
}

.box .login-page button {
  width: 100%;
  font-size: 20px;
  margin: 20px 0px;
  padding: 10px;
  border: 2px solid color-mix(in srgb, var(--default-color), transparent 70%);
  border-radius: 0 0 10px 10px;
}

.box .login-page button:hover {
  background-color: rgba(12, 59, 47, 0.3);
}

.registration-form {
  display: none;
}

.navmenu ul li button {
  border: none;
  outline-style: none;
}

.register-page {
  width: 600px;
}

.overlay-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.overlay-toggle {
  display: none;
}

.overlay {
  position: fixed;
  right: 0;
  top: 113px;
  width: 200px;
  margin: 0;
  padding: 10px;
  background-color: #d4d4d4;
  border-radius: 0 0 0 8px ;
}

.overlay > span {
  display: block;
  margin-top: 5px;
}

.history-title {
  margin-top: 120px;
}

.history-container {
  width: 1000px;
  margin: 0 0 80px 0;
  padding: 0;
  justify-self: center;
  align-items: center;
  padding: 20px 60px 60px 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.history-container .history-item {
  width: 100%;
  margin: 40px 0;
}

.history-container .history-item  div{
  padding: 0 40px;
}

.history-container .history-item span {
  display: block;
  padding: 10px 0;
}

.history-container .history-item span:last-child {
}

.history-container .history-item button {
}